# ------------------------------------------------------------------------------
# @brief Kconfig flie
# SPDX-FileCopyrightText: 2025 CompanyNameMagicTag
# SPDX-License-Identifier: Apache-2.0
# ------------------------------------------------------------------------------

# @attention 目前 XFusion 所有配置暂定只写在此文件中，
#            如有必要，后续再拆分到各个组件的 Kconfig 文件中。

menu "XFusion"

    # Define CONFIG_XF_CONF_SKIP so we can use XFusion
    # without xf_conf.h file, the xf_conf_internal.h and
    # xf_conf_kconfig.h files are used instead.
    config XF_CONF_SKIP
        bool "Check this to not use custom xf_conf.h"
        default y

    config XF_ENABLE_components
        bool
        default y

    menu "Components"

        depends on XF_ENABLE_components

        config XF_ENABLE_algo
            bool "algo"
            default y

        menu "algo"

            depends on XF_ENABLE_algo

        endmenu # common

        config XF_ENABLE_common
            bool "common"
            default y

        menu "common"

            depends on XF_ENABLE_common

            config XF_ENABLE_ERR_TO_NAME_LOOKUP
                bool "Enable Error Code to Name Lookup"
                default y

        endmenu # common

        config XF_ENABLE_dstruct
            bool "dstruct"
            default y

        menu "dstruct"

            depends on XF_ENABLE_dstruct

        endmenu # dstruct

        config XF_ENABLE_log
            bool "log"
            default y

        menu "log"

            depends on XF_ENABLE_log

            config XF_LOG_ENABLE_ERROR
                bool "Enable Error"
                default y
            config XF_LOG_ENABLE_WARN
                bool "Enable Warning"
                default y
            config XF_LOG_ENABLE_INFO
                bool "Enable Information"
                default y
            config XF_LOG_ENABLE_DEBUG
                bool "Enable Debug"
                default y
            config XF_LOG_ENABLE_VERBOSE
                bool "Enable Verbose"
                default y

        endmenu # log

        config XF_ENABLE_std
            bool "std"
            default y

        menu "std"

            depends on XF_ENABLE_std

            choice
                prompt "String functions source"
                default XF_STRING_LIBC
                config XF_STRING_BUILTIN
                    bool "builtin"
                config XF_STRING_LIBC
                    bool "libc"
            endchoice

        endmenu # std

        config XF_ENABLE_system
            bool "system"
            default y

        menu "system"

            depends on XF_ENABLE_system

            config XF_ENABLE_event
                bool "event"
                default y

            menu "event"

                depends on XF_ENABLE_event

            endmenu # event

            config XF_ENABLE_osal
                bool "osal"
                default y

            menu "osal"

                depends on XF_ENABLE_osal

            endmenu # osal

            config XF_ENABLE_ps
                bool "ps"
                default y

            menu "ps"

                depends on XF_ENABLE_ps

            endmenu # ps

            config XF_ENABLE_stimer
                bool "stimer"
                default y

            menu "stimer"

                depends on XF_ENABLE_stimer

            endmenu # stimer

            config XF_ENABLE_task
                bool "task"
                default y

            menu "task"

                depends on XF_ENABLE_task

            endmenu # task

            config XF_ENABLE_tick
                bool "tick"
                default y

            menu "tick"

                depends on XF_ENABLE_tick

            endmenu # tick

        endmenu # system

        config XF_ENABLE_utils
            bool "utils"
            default y

        menu "utils"

            depends on XF_ENABLE_utils

        endmenu # utils

    endmenu # Components

    config XF_ENABLE_examples
        bool "examples"
        default n

    menu "examples"

        depends on XF_ENABLE_examples

    endmenu # examples

endmenu
