# ------------------------------------------------------------------------------
# @brief Kconfig flie
# SPDX-FileCopyrightText: 2025 CompanyNameMagicTag
# SPDX-License-Identifier: Apache-2.0
# ------------------------------------------------------------------------------

menu "Components"

    config XF_ENABLE_algo
        bool "algo"
        default n
    if XF_ENABLE_algo
        orsource "algo/Kconfig"
    endif

    config XF_ENABLE_common
        bool "common"
        default y
    if XF_ENABLE_common
        orsource "common/Kconfig"
    endif

endmenu
